*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*PRIORITY*/

.z-1{
    z-index: 1;
}

.z-2{
    z-index: 2;
}

/* WIDTH GENERALI */

.w-33per{
    width: 33%;
}

.w-40per{
    width: 40%;
}

/*height: 100%*/
.h-33per{
    height: 33%;
}

.h-60per{
    height: 60%;
}

.height-100per{
    height: 30%;
}

/*MARGIN GENERALI*/

.margin-5{
    margin: 0 5px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-right-100{
    margin-right: 100px;
}

.margin-left-100{
    margin-left: 100px;
}

.margin-left-28{
    margin-left: 28px;
}

.margin-left-48{
    margin-left: 48px;
}

.fixed{
    position: fixed;
}

/* FLEX */

.flex{
    display: flex;
}

/* ALIGN-ITEMS: CENTER*/

.align-items-center{
    align-items: center;
}


/* JUSTIFY-CONTENT: CENTER; ALIGN-ITEMS: CENTER */

.justify-and-align-center{
    justify-content: center;
    align-items: center;
}

/* JUSTIFY-CONTENT: SPACE-AROUND */

.justify-content-around{
    justify-content: space-around;
}

/* JUSTIFY-CONTENT: CENTER */

.justify-content-start{
    justify-content: flex-start;
}


/* JUSTIFY-CONTENT: CENTER */

.justify-content-center{
    justify-content: center;
}

/* JUSTIFY-CONTENT: FLEX-END */

.justify-content-end{
    justify-content: flex-end;
}

/* JUSTIFY-CONTENT: SPACE BETWEEN */

.justify-content-between{
    justify-content: space-between;
}

/* JUSTIFY-CONTENT: FLEX-END*/

.justify-content-end{
    justify-content: flex-end;
}

/* POSITION FIXED */

.fixed{
    position: fixed;
}

/*BACKGROUND COLOR*/

.bg-orange{
    background-color: orange;
}

.bg-green{
    background-color: green;
}

.bg-blue{
    background-color: blue;
}

.bg-black{
    background-color: black;
}

.bg-red{
    background-color: red;
}

.color-white{
    color: white;
}

/*CONTAINER*/
.container{
    max-width: 1410px;
    margin: 0 auto;
}



/*                      HEADER                       */

.menu{
    width: 100%;
    height: 70px;
    z-index: 1;
}

.imgSize{
    height: 30px;
}

header a{
    color: white;
    text-decoration: none;
}

/*                        MAIN                            */

main{
    padding-top: 100px;
    margin: 0px 10px;
}

.col{
    width: 450px;
}

.wrap{
    flex-wrap: wrap;
    gap: 30px;
}

.containerImmagine{
    position: relative;
    height: 600px;
    overflow: hidden;
}

.containerImmagine img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.containerImmagine:hover .front-image{
    display: none;
}

.containerImmagine:hover .back-image{
    display: block;
}

.containerHeart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    width: 12%;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
}

.containerHeart:hover{
    color: red;
}

.discount{
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 15px;
    left: 0;
}

.sostenibilita{
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 15px;
    left: 63px;
}

.sostenibilita6foto{
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 15px;
    left: 0px;
}

.prizeDiscount{
    color: red;
}

.prizeBefore{
    text-decoration: line-through;
}

/*                        FOOTER                            */

footer{
    padding-top: 100px;
    height: 100%;
}