*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*PRIORITY*/

.z-1{
    z-index: 1;
}

.z-2{
    z-index: 2;
}

/* WIDTH GENERALI */

.w-33per{
    width: 33%;
}

/*height: 100%*/

.height-100per{
    height: 30%;
}

/*MARGIN GENERALI*/

.margin-5{
    margin: 0 5px;
}

/* FLEX */

.flex{
    display: flex;
}

/* ALIGN-ITEMS: CENTER*/

.align-items-center{
    align-items: center;
}

/* JUSTIFY-CONTENT: CENTER; ALIGN-ITEMS: CENTER*/

.justify-and-align-center{
    justify-content: center;
    align-items: center;
}

/* JUSTIFY-CONTENT: SPACE-AROUND */

.justify-content-around{
    justify-content: space-around;
}

/* JUSTIFY-CONTENT: FLEX-END*/

.justify-content-end{
    justify-content: flex-end;
}

/* POSITION FIXED */

.fixed{
    position: fixed;
}

/*BACKGROUND COLOR*/

.bg-orange{
    background-color: orange;
}

.bg-green{
    background-color: green;
}

.bg-blue{
    background-color: blue;
}

/*CONTAINER*/
.container{
    max-width: 1410px;
    margin: 0 auto;
}



/*                      HEADER                       */

.menu{
    width: 100%;
}

.imgSize{
    height: 30px;
}

header a{
    color: white;
    text-decoration: none;
}